{% extends "layout.html" %}
{% block title %} Index {% endblock title %} 
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <!-- Table -->
                 {% set incTotal = total if total  else 0 %}
                 <div class="mt-5">
                    <div class="card">
                        <div class="card-header">
                            <h3>Expenses Items for {{ month }}</h3>
                            <p><strong>Total:</strong> ₦{{ "{:,.2f}".format(incTotal) }}</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-dark table-bordered">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Amount</th>
                                        <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <th scope="row">{{ item.created_at }}</th>
                                        <td>{{item.type}}</td>
                                        <td>{{item.category}}</td>
                                        <td>&#8358;{{"{:,.2f}".format(item.amount)}}</td>
                                        <td>
                                            <a class="btn btn-info" href="{{url_for('routes.edit_cashflow', id=item.id)}}">Edit</a>
                                            <a class="btn btn-danger" href="{{url_for('routes.delete_cashflow', id=item.id)}}">Delete</a>
                                        </td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{% endblock content %}