{% extends "layout.html" %}
{% block title %} Add new cash flow {% endblock title %} 
{% block content %}
    <div class="container py-5">
        <div class="row align-items-center py-5">
            <div class="col-md-6 mx-auto py-5">
                <div class="card">
                    <div class="card-header">
                        <h2>Forgot Password</h2>
                        {% include "partials/flash-messages.html" %} 
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/forgot_password">
                            {{ form.csrf_token }}
                             <div class="form-group mb-3 ">
                            
                                {{ form.email.label(class="form-label") }} 
                                {{ form.email(class="form-control") }}
                                {% if form.email.errors %}
                                    <p class="text-danger">
                                    {% for error in form.email.errors %}
                                        {{ error }}
                                    {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                            
                            <div class="form-group text-center">
                                <input class='btn btn-success' type="submit" value="Reset Password">
                            </div>
                        </form>
                        <div class="card-footer d-flex justify-content-between">
                            <p>Click here to <a href="{{ url_for('routes.sign_in') }}">Login</a></p>
                            <p>Don't have an account? <a href="{{ url_for('routes.sign_up') }}">Sign up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    const expCat = document.getElementById('expCat');
    const incCat = document.getElementById('incCat');
    const cashType = document.getElementById('cashType');

    const expCatParent = expCat.parentElement;
    const incCatParent = incCat.parentElement;

    // helper function to update visibility
    function updateCategoryVisibility() {
        if (cashType.value === 'Income') {
            incCatParent.classList.remove('hide');
            expCatParent.classList.add('hide');
        } else {
            expCatParent.classList.remove('hide');
            incCatParent.classList.add('hide');
        }
    }

    // run once on page load
    updateCategoryVisibility();

    // run whenever type changes
    cashType.addEventListener('change', updateCategoryVisibility);
</script>


{% endblock content %}